@import "https://litespeedui.netlify.app/components/components.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Parisienne&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");

.App {
  font-family: "Inter", sans-serif;
  width: 100%;
}

.nav-ctn {
  width: 100%;
  background-color: #2874f0;
  color: #fff;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.right-nav {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.right-nav a {
  padding-right: 15px;
  color: #fff;
}

.app-ctn {
  max-width: 1200px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin: 10px auto;
}

.clear-filter {
  font-size: 14px;
  padding-left: 10px;
}

.products-ctn {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cursor-pointer,
label {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.cart-ctn {
  display: grid;
  grid-template-columns: 3fr 1fr;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.cart-img {
  width: 150px;
  height: 200px;
}

.cart-product-ctn {
  display: flex;
  padding-bottom: 1.5rem;
  gap: 1rem;
}

.price-row {
  display: flex;
  justify-content: space-between;
}

.wishlist-ctn {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
